RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* public/index.php [L]
#RewriteRule ^dex.php main.php [R]
#RewriteRule ^admin/(.*)/(.*) index.php?controller=$1&action=$2&admin_area=1 [QSA]
